{% extends 'base.jinja2' %}
{% set active_page ="about" %}
{% block content %}
<h3>References</h3>
<p>The geoneutrino model makes use of the following:</p>
<p><b>Bassin, C., G. Laske, and G. Masters (2000)</b>, <i>The current limits of resolution for surface wave tomography in North America</i>, Eos Trans. AGU, 81(48), Fall Meet. Suppl., Abstract F897.</p>
<p><b>Dye, S.T. (2012)</b>, <i>Geo-neutrinos and the Radioactive Power of the Earth</i>, Rev. Geophys., 50, RG3007.</p>
<p><b>Huang, Y. et al. (2013)</b>, <i>A reference Earth model for the heat-producing elements and associated geoneutrino flux</i>, Geochem. Geophys. Geosyst., 14, 2003-2029.</p>
{% endblock %}
