{% set navigation_bar = [
('/', 'index', 'Home'),
('/model', 'model', 'Interactive Model'),
('/reactors', 'reactor', 'Reactor Antineutrinos'),
('/about', 'about', 'About')
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html>
  <head>
    <title>Geoneutrinos.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/vender/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Geoneutrinos.org</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}>
          <a href="{{ href|e }}">{{ caption|e }}</a></li>
              {% endfor %}
        </ul>
      </div>
      </nav>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      <div class="container-fluid">
        {% block fluid_content %}{% endblock %}
      </div>
      <script src="/static/vender/js/jquery-1.11.1.min.js"></script>
      <script src="/static/vender/js/bootstrap.min.js"></script>
      {% block js %}{% endblock %}
    </body>
  </html>
