<html>
<head>
  {% block head %}
  <title>{% block title %} Homepage {% endblock %}
  {% endblock %}
</head>
<body>
  <div id="content">{% block content %} Some Stuff {% endblock %} </div>
</body
</html>
