<html>
<head>
  {% block head %}
  <title>{% block title %} Homepage {% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div id="content">{% block content %} Some Stuff {% endblock %}</div>
  <div id="testimg"><img src='/plot.png?layers=umlsh&output=t' /></div>
</body
</html>
