{% extends 'base.jinja2' %}
{% set active_page ="model" %}
{% block content %}
<div class="row">
  <div class="col-sm-8 ">
    <div class="row">
      <div class="col-12 plot_container">
      </div>
    </div>
    <div class="row">
      <div class="col-12 colorbar">
      </div>
    </div>
    <div class="row">
      <div class="col-12 scale_labels">
        <span id="sl_0_pc"></span>
        <span id="sl_25_pc"></span>
        <span id="sl_50_pc"></span>
        <span id="sl_75_pc"></span>
        <span id="sl_100_pc"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 scale_title">
        <span id="scale_title_placeholder">Loading...</span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
      <li><a href="#mantle" data-toggle="tab">Mantle</a></li>
      <li><a href="#crust" data-toggle="tab">Crust</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic">
        <div class="panel panel-default">
          <div class="panel-heading">Display</div>
          <div class="panel-body">
            <select class="form-control">
              <option value="thickness" selected>Crust Thickness (km)</option>
              <option value="heat">Heat Flux (W/m^2)</option>
              <option value="neutrino">Neutrino Flux (TNU)</option>
              <option value="ratio">Mantle Neutrino Ratio (%)</option>
            </select>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Data Layers</div>
          <div class="panel-body">
            <p>
            Plate Boundries
            <button id="plate_boundries_on" type="button" class="btn btn-xs btn-success">ON</button>
            <button id="plate_boundries_off" type="button" class="btn btn-xs btn-danger">OFF</button>
            </p>
            <p>
            Continental Boundries
            <button id="continental_boundries_on" type="button" class="btn btn-xs btn-success">ON</button>
            <button id="continental_boundries_off" type="button" class="btn btn-xs btn-danger">OFF</button>
            </p>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="mantle">
        <h3>Mantle Configs</h3>
      </div>
      <div class="tab-pane" id="crust">
        <div class="panel panel-default">
          <div class="panel-heading">Crust Layers</div>
          <div class="panel-body">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked> Soft Sediments
              </label><br/>
              <label>
                <input type="checkbox" checked> Hard Sediments
              </label><br/>
              <label>
                <input type="checkbox" checked> Upper Crust
              </label><br/>
              <label>
                <input type="checkbox" checked> Middle Crust
              </label><br/>
              <label>
                <input type="checkbox" checked> Lower Crust
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/nu_model.css">
{% endblock %}
{% block js %}
<script src="/js/d3.v3.min.js"></script>
<script src="/js/d3.geo.projection.v0.min.js" charset="utf-8"></script>
<script src="/js/topojson.v1.min.js"></script>
<script src="/js/nu_model.js"></script>
{% endblock %}
