{% extends 'base.jinja2' %}
{% set active_page ="model" %}
{% block fluid_content %}
  <style>
.total.line { 
  stroke: black;
  stroke-width: 0.6;
  /*stroke-dasharray: 1, 1; */
  fill: none;
}
.reac.line { 
  stroke: black;
  stroke-width: 0.5;
  stroke-dasharray: 2, 1;
  fill: none;
}

    #detector_icon{
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
    #reactor_icon{
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
    #map_container{
      overflow: hidden;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  </style>
  <div class="col-md-7">
    <div id="map_container">
      <img id="the_map" src="/static/images/eq_map.png" width="100%" height="100%">
      <div id="detector_icon">
        <img src="/static/images/nu_detector.png" height="20px" width="20px">
      </div>
      <div id="reactor_icon">
        <img src="/static/images/nu_react.png" height="20px" width="20px">
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#detector" data-toggle="tab">Detector</a></li>
      <li><a href="#reactor" data-toggle="tab">Reactor</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="detector">
        <div class="panel panel-default">
          <div class="panel-heading">Spectrum</div>
          <div class="panel-body">
            <div id='graph'></div>
            TNU<sub>Total</sub>: <span id="tnu_output"></span><br>
            TNU<sub>E < 3.275 MeV</sub>: <span id="tnu_output_geo"></span><br>
            Distance to User Reactor: <span id="user_dist"></span> KM
          </div>
        </div>
        <p>
        </p>
        <div class="panel panel-default">
          <div class="panel-heading">Location</div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="cursor_lat" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="cursor_lat" value="44.35">
                </div>
              </div>
              <div class="form-group">
                <label for="cursor_lon" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="cursor_lon" value="-103.75">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input id="is_locked" type="checkbox" checked> Follow Cursor On Map
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <select id="detector_preset"class="form-control">
                    <!-- value="lat,lon" -->
                    <option disabled selected value="none">Location Presets</option>
                    <option value="42.45,13.57">Gran Sasso</option>
                    <option value="46.47,-81.20">Sudbury</option>
                    <option value="36.43,137.31">Kamioka</option>
                    <option value="22.12,112.52">DongKeng</option>
                    <option value="35.05,126.70">GuemSeong</option>
                    <option value="19.72,-156.32">Hawaii</option>
                    <option value="63.66,26.05">Pyhäsalmi</option>
                    <option value="54.55,-0.82">Boulby</option>
                    <option value="42.70,-0.52">Canfranc</option>
                    <option value="45.13,6.68">Fréjus</option>
                    <option value="45.23,25.94">Slănic</option>
                    <option value="51.55,16.03">Sieroszowice</option>
                    <option value="44.35,-103.75">Homestake</option>
                    <option value="43.20,42.72">Baksan</option>
                  </select>
                </div>
              </div>

            </form>
          </div>
        </div>

        <textarea readonly id="osc_out" rows=8 style="width:100%;">
        </textarea>
      </div>
      <div class="tab-pane" id="reactor">
        <div class="panel panel-default">
          <div class="panel-heading">Power</div>
          <div class="panel-body">

            <form class='form-horizontal'>
              <div class="form-group">
                <label class='col-sm-2 control-label' for="react_power">Power</label>
                <div class="input-group col-sm-10">
                  <input type="number" class="form-control" id="react_power" placeholder="0" value='0'>
                  <div class="input-group-addon">MW</div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input id="user_reactor" type="checkbox" checked> Use Custom Reactor
                    </label>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Location</div>
          <div class="panel-body">
            <form class="form-horizontal">


              <div class="form-group">
                <label for="react_lat" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="react_lat" value="0">
                </div>
              </div>

              <div class="form-group">
                <label for="react_lon" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="react_lon" value="-103.75">
                </div>
              </div>

              <button id="place_reactor" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Allows clicking the map to place the reactor">Place Reactor</button>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block js %}
<script src="/static/js/spherical_power.js"></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
var mode = "normal";
</script>
<script>
function image_coordinates_to_lon_lat(x, y, width, height){
  var lat_deg = (90 - (180/height) * y);
  var lon_deg = (x * (360/width) -180);

  return [lon_deg, lat_deg];
}
function lon_lat_to_image_coordinates(lon, lat, width, height){
  var x = ((90 - lat)/180) * height;
  var y  = ((180 + lon)/360) * width;

  return [x, y];
}
</script>

<script>

/*
   Initalize the array and constants, this is almost
   identical to the fortran except for the syntax.
   */
var spectrum = new Array(1000);
var e1 = 0.8;
var e2 = 1.43;
var e3 = 3.2;
var baserate = 0.00808;

// are all uninitialized variables in fortran 0?
var fluxnorm = 0;

/*
  In javascript current best way of looping through an array
  is to make counter variable (by convention i), the second 
  part of the loop is a test, in this case, that the counter i
  is not larger than the array is long, the third and final part
  of the loop is the action to be performed on the counter
  on each itteration, in this case it is incrimented by on (i++)

  javascript array indexes start at 0 instead of 1. This has the
  effect of having all the indicie tests be minus one from the
  fortran.
  */
for (var i=0; i < spectrum.length; i++){
  spectrum[i] = 0;
  if ((i > 178) && (i < 949)){
    var enu = i/100;
    // In javascript, to do x^y you need to call Math.pow(x, y)
    // Lets store the two parts seperately, then call the e^n function
    var p1 = Math.pow((enu-e2), 2);
    var p2 = -Math.pow((enu+e1)/e3, 2);
    spectrum[i] = p1 * Math.exp(p2);
    if (i > 338){
      // the += operator works as follows: a += b is identical to a = a + b
      fluxnorm += spectrum[i];
    }
  }
}
var scale = baserate/fluxnorm;

// because we have declared the variable above, we don't need to put a
// "var" in front of this, simply reset to 0;
//fluxnorm = 0;
for (var i=0; i < spectrum.length; i++){
  spectrum[i] = spectrum[i] * scale;
  //fluxnorm += spectrum[i];
}

/*
   In javascript, the return value is explictly passed back.
   So here we would create the array and just give it back to the caller
   of the function for them to deal with (usually assigned to some var)
   */
function nuosc(dist, pwr, spectrum){
  var earth_rad_sq = 4.059e7;
  var dmsq21 = 7.50e-5;
  var ds2t13 = 0.19e-5;
  var s2t13 = 0.0218;
  var ds2t13 = 0.0010;
  var s2t12 = 0.304;
  var ds2t12 = 0.013;

  var c4t13 = (1 - s2t13) * (1 - s2t13);
  var s22t12 = 4 * s2t12 * (1 - s2t12);

  //added nuosc13
  var s22t13 = 4 * s2t13 * (1-s2t13);
  var c22t12 = 1 - s22t12;

  var dmsq31 = 2.457e-3;
  var dmsq32 = dmsq31 - dmsq21;

  var oscarg21 = 1.27 * dmsq21 * dist * 1000;
  var oscarg31 = 1.27 * dmsq31 * dist * 1000;
  var oscarg32 = 1.27 * dmsq32 * dist * 1000;

  var flux = pwr * earth_rad_sq / (dist * dist);

  var oscspec = new Array(1000);
  
  for (var i=0; i < oscspec.length; i++){
    oscspec[i] = 0;
    if (i >= 179){
      // I don't know what the 0.01 is doing here.
      enu = (i + 1) * 0.01;
      
      supr21 = c4t13 * s22t12 * Math.pow(Math.sin(oscarg21/enu), 2);
      supr31 = s22t13 * c22t12 * Math.pow(Math.sin(oscarg31/enu), 2);
      supr32 = s22t13 * s22t12 * Math.pow(Math.sin(oscarg32/enu), 2);

      pee = 1 - supr21 - supr31 - supr32;

      //pee = c4t13 * (1 - s22t12 * Math.pow(Math.sin(oscarg/enu), 2)) + s2t13 * s2t13;
      oscspec[i] = pee * flux * spectrum[i];
    }
  }
  return oscspec;
}

//var osc = nuosc(60, 3.2, spectrum);
//for (var i=0; i < osc.length; i++){
//  osc[i] = osc[i] * spectrum[i];
//}

/*
   Everything after here is making the output print on the webpage

   Just ignore unless you want to see how the SVG sausage is made
   */
function tof11(elm){
  return (elm/1000).toFixed(11);
}

</script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
d3.select(window).on('resize', resize); 

function resize() {
    // update width
    width = parseInt(d3.select('#graph').style('width'), 10);
    width = width - margin.left - margin.right;

    // reset x range
    x.range([0, width]);

    // do the actual resize...
d3.select(svg.node().parentNode)
        .style('width', (width + margin.left + margin.right) + 'px');

svg.selectAll('.x.label')
        .attr('x', width);

    svg.select(".x.axis")
        .call(xAxis);

    svg.selectAll('rect.background')
        .attr('width', width);

  update_map();
}

var data = nuosc(60, 3.2, spectrum);
for (var i=0; i < data.length; i++){
  data[i] = [i, data[i]];// * spectrum[i]];
}

// Set the dimensions of the graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = parseInt(d3.select('#graph').style('width'), 10) - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Set the ranges
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5).tickFormat(function(d) {return (d/100).toFixed(0)});

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5).tickFormat(function(d) {return (d/1000)});

// Define the line
var valueline = d3.svg.line()
    .x(function(d, i) { return x(i); })
    .y(function(d) { return y(d); });
    
// Adds the svg canvas
var svg = d3.select("#graph")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", 
        "translate(" + margin.left + "," + margin.top + ")");
    x.domain([0, d3.max(data, function(d, i) { return i; })]);
    y.domain([0, d3.max(data, function(d) { return d; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "reac line")
        .attr("d", valueline(data));

    svg.append("path")
        .attr("class", "total line")
        .attr("d", valueline(data));

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .attr("id", "yaxis")
        .call(yAxis);

  // Add the axis labels
    svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", 6)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .text("TNU/10 keV");
    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width)
        .attr("y", height - 6)
        .text("MeV");

var earth_radius = 6371;

document.getElementById("the_map").addEventListener("mousemove", function(e){
  if (mode == "place_reactor"){
    return;
  }
  var checkbox = document.getElementById("is_locked");
  if (!checkbox.checked){
    return;
  }
  document.getElementById("detector_preset").value = "none";
  xy = image_coordinates_to_lon_lat(e.layerX, e.layerY, this.width, this.height);

  document.getElementById("cursor_lat").value = xy[1].toFixed(2);
  document.getElementById("cursor_lon").value = xy[0].toFixed(2);
  update_map();
});

document.getElementById("the_map").addEventListener("click", function(e){
  if (mode == "normal"){
    var checkbox = document.getElementById("is_locked");
    if (checkbox.checked){
      checkbox.checked = false;
    } else {
      checkbox.checked = true;
    }
  }
  if (mode == "place_reactor"){
    xy = image_coordinates_to_lon_lat(e.layerX, e.layerY, this.width, this.height);
    document.getElementById("react_lat").value = xy[1].toFixed(2);
    document.getElementById("react_lon").value = xy[0].toFixed(2);
    mode = "normal";
    $("#place_reactor").addClass("btn-success");
    $("#place_reactor").removeClass("btn-danger");
    document.getElementById("place_reactor").textContent = "Place Reactor";
  update_map();
  }
});

document.getElementById("place_reactor").addEventListener("click", function(e){
  if ($(this).hasClass("btn-success")){
    $(this).removeClass("btn-success");
    $(this).addClass("btn-danger");
    this.textContent = "Cancel Reactor Placement";
    mode = "place_reactor";
  } else {
    mode = "normal";
    $(this).addClass("btn-success");
    $(this).removeClass("btn-danger");
    this.textContent = "Place Reactor";
  }
});

document.getElementById("cursor_lat").addEventListener("input", function(e){
  update_map();
});
document.getElementById("cursor_lon").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_lat").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_lon").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_power").addEventListener("input", function(e){
  update_map();
});
document.getElementById("user_reactor").addEventListener("change", function(e){
  update_map();
});

function distance(p1, p2){
  var dx = p1.x - p2.x;
  var dy = p1.y - p2.y;
  var dz = p1.z - p2.z;

  var dx2 = Math.pow(dx, 2);
  var dy2 = Math.pow(dy, 2);
  var dz2 = Math.pow(dz, 2);
  
  return Math.sqrt(dx2 + dy2 + dz2);
}

function squish_array(two_d_array){
  var output = new Array(two_d_array[0].length);
  for (var i=0; i < output.length; i++){
    output[i] = 0;
  }

  for (var i=0; i < two_d_array.length; i++){
    for (var ii=0; ii < output.length; ii++){
      output[ii] += two_d_array[i][ii];
    }
  }
  return output;
}


function update_map(){
  var map_height = document.getElementById("the_map").height;
  var map_width = document.getElementById("the_map").width;

  var lon_deg = parseFloat(document.getElementById("cursor_lon").value);
  var lat_deg = parseFloat(document.getElementById("cursor_lat").value);
  var detct_image_coords = lon_lat_to_image_coordinates(lon_deg, lat_deg, map_width, map_height);
  document.getElementById("detector_icon").style.top = detct_image_coords[0] + "px";
  document.getElementById("detector_icon").style.left = detct_image_coords[1] + 15 + "px";

  var reac_lon_deg = parseFloat(document.getElementById("react_lon").value);
  var reac_lat_deg = parseFloat(document.getElementById("react_lat").value);
  var react_image_coords = lon_lat_to_image_coordinates(reac_lon_deg, reac_lat_deg, map_width, map_height);
  document.getElementById("reactor_icon").style.top = react_image_coords[0] + "px";
  document.getElementById("reactor_icon").style.left = react_image_coords[1] + 15 + "px";
  var reac_lat = reac_lat_deg * (Math.PI/180);
  var reac_lon = reac_lon_deg * (Math.PI/180);
  var user_input = document.getElementById("user_reactor").checked;
  if (user_input){
  document.getElementById("reactor_icon").style.display = "block";
  } else {
  document.getElementById("reactor_icon").style.display = "none";
  }

  reac_p = {
   x : earth_radius * Math.cos(reac_lat) * Math.cos(reac_lon),
   y : earth_radius * Math.cos(reac_lat) * Math.sin(reac_lon),
   z : earth_radius * Math.sin(reac_lat)
  };
  reac_power = parseFloat(document.getElementById("react_power").value);

  var react_spectrum = [];

  lat = lat_deg  * (Math.PI/180);
  lon = lon_deg * (Math.PI/180);

  p1 = {
   x : earth_radius * Math.cos(lat) * Math.cos(lon),
   y : earth_radius * Math.cos(lat) * Math.sin(lon),
   z : earth_radius * Math.sin(lat)
  };

  for (var i=0; i<react_data.length; i++){

    p2 = {
      x : react_data[i][0],
      y : react_data[i][1],
      z : react_data[i][2]
    };

    power = react_data[i][3];
    dist = distance(p1, p2);

    react_spectrum.push(nuosc(dist, power, spectrum));

  }
  user_dist = distance(p1, reac_p);
  if (user_input){
    user_react_spectrum = nuosc(user_dist, reac_power, spectrum);
    document.getElementById("user_dist").textContent = user_dist.toFixed(0);
  } else {
    user_react_spectrum = nuosc(user_dist, 0, spectrum);
    document.getElementById("user_dist").textContent = "N/A";
  }


  iaea = squish_array(react_spectrum);
  total = squish_array([iaea, user_react_spectrum]);

  document.getElementById("osc_out").value = total.map(tof11).join('\n');
  document.getElementById("tnu_output").textContent = (d3.sum(total)/1000).toFixed(1);
  document.getElementById("tnu_output_geo").textContent = (d3.sum(total.slice(0, 326))/1000).toFixed(1);

    x.domain([0, d3.max(total, function(d, i) { return i; })]);
    y.domain([0, d3.max(total, function(d) { return d; })]);
    svg.select(".reac")
        .attr("d", valueline(iaea));
    svg.select(".total")
        .attr("d", valueline(total));
    svg.select("#yaxis")
      .call(yAxis);
}
update_map();
</script>
  <script>
document.getElementById("detector_preset").addEventListener("change", function(e){
  var point = this.value.split(',');
  var lat = point[0];
  var lon = point[1];
  document.getElementById("cursor_lat").value = lat;
  document.getElementById("cursor_lon").value = lon;
  document.getElementById("is_locked").checked = false;
  update_map();
});
  </script>
{% endblock %}
