{% extends 'base.jinja2' %}
{% set active_page ="model" %}
{% block fluid_content %}
  <style>
    .total.line { 
      stroke: black;
      stroke-width: 0.6;
      /*stroke-dasharray: 1, 1; */
      fill: none;
    }
    .reac.line { 
      stroke: black;
      stroke-width: 0.5;
      stroke-dasharray: 2, 1;
      fill: none;
    }
    .c_reac.line{ 
      stroke: none;
      fill: #999;
    }
    #detector_icon{
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
    #reactor_icon{
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
    #map_container{
      overflow: hidden;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
  </style>
  <div class="col-md-7">
    <div id="map_container">
      <img id="the_map" src="/static/images/eq_map.png" width="100%" height="100%">
      <div id="detector_icon">
        <img src="/static/images/nu_detector.png" height="20px" width="20px">
      </div>
      <div id="reactor_icon">
        <img src="/static/images/nu_react.png" height="20px" width="20px">
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#detector" data-toggle="tab">Detector</a></li>
      <li><a href="#reactor" data-toggle="tab">Reactors</a></li>
      <li><a href="#output" data-toggle="tab">Output</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="detector">
        <div class="panel panel-default">
          <div class="panel-heading">Spectrum</div>
          <div class="panel-body">
            <div id='graph'></div>
            R<sub>Total</sub>: <span id="tnu_output"></span> TNU<br>
            R<sub>E &lt; 3.275 MeV</sub>: <span id="tnu_output_geo"></span> TNU<br>
            R<sub>Closest</sub>: <span id="tnu_output_close"></span> TNU (<span id="close_percent"></span>% of total)<br>
            Distance to Closest Reactor: <span id="closest_dist"></span> km<br>
            Distance to User Reactor: <span id="user_dist"></span> km
            <div class="checkbox">
              <label>
                <input id="mass_invert" type="checkbox"> Invert Neutrino Mass Hierarchy
              </label>
            </div>
            <small>1 TNU = 1 event/10<sup>32</sup> free protons/year</small>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Location</div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="cursor_lat" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="cursor_lat" value="44.35">
                </div>
              </div>
              <div class="form-group">
                <label for="cursor_lon" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="cursor_lon" value="-103.75">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input id="is_locked" type="checkbox" checked> Follow Cursor On Map
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <select id="detector_preset"class="form-control">
                    <!-- value="lat,lon" -->
                    <option disabled selected value="none">Location Presets</option>
                    <optgroup label="Asia">
                      <option value="35.05,126.70">Guemseong (950 mwe)</option>
                      <option value="9.95,77.28">INO (3000 mwe)</option>
                      <option value="22.12,112.51">Jiangmen (2100 mwe)</option>
                      <option value="28.15,101.71">Jinping (6720 mwe)</option>
                      <option value="36.42,137.30">Kamioka (2050 mwe)</option>
                    </optgroup>
                    <optgroup label="Europe">
                      <option value="43.24,42.70">Baksan (4900 mwe)</option>
                      <option value="54.55,-0.82">Boulby (2805 mwe)</option>
                      <option value="42.77,-0.56">Canfranc (2450 mwe)</option>
                      <option value="45.14,6.69">Fréjus (4200 mwe)</option>
                      <option value="42.45,13.58">LNGS (3100 mwe)</option>
                      <option value="63.66,26.04">Pyhäsalmi (4000 mwe)</option>
                    </optgroup>
                    <optgroup label="Mediterranean Sea">
                      <option value="42.80,6.17">Antares (2500 mwe)</option>
                      <option value="36.63,21.58">Nestor (4000 mwe)</option>
                    </optgroup>
                    <optgroup label="North America">
                      <option value="41.75,-81.29">IMB (1570 mwe)</option>
                      <option value="37.38,-80.66">KURF (1400 mwe)</option>
                      <option value="47.82,-92.24">Soudan (1950 mwe)</option>
                      <option value="44.36,-103.76">SURF (4300 mwe)</option>
                      <option value="32.37,-103.79">WIPP (1600 mwe)</option>
                      <option value="46.47,-81.20">SNOLAB (6010 mwe)</option>
                    </optgroup>
                    <optgroup label="Pacific Ocean">
                      <option value="22.75,-158.00">ACO (4800 mwe)</option>
                      <option value="36.71,-122.19">MARS (890 mwe)</option>
                    </optgroup>
                    <optgroup label="South America">
                      <option value="-30.25,-69.88">ANDES (4200 mwe)</option>
                    </optgroup>
                  </select>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="reactor">
        <div class="panel panel-default">
          <div class="panel-heading">Reactor Load Factors</div>
          <div class="panel-body">
              <select id="load_factor" class="form-control">
                    <!-- value="index" -->
                <option value="3">Mean LF</option>
                <option value="4">2013 LF</option>
              </select>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Custom Reactor</div>
          <div class="panel-body">

            <form class='form-horizontal'>
              <div class="form-group">
                <label class='col-sm-2 control-label' for="react_power">Power</label>
                <div class="input-group col-sm-10">
                  <input type="number" class="form-control" id="react_power" placeholder="0" value='0'>
                  <div class="input-group-addon">MW</div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input id="user_reactor" type="checkbox"> Use Custom Reactor
                    </label>
                  </div>
                </div>
              </div>

            </form>

        <div class="panel panel-default">
          <div class="panel-heading">Location</div>
          <div class="panel-body">
            <form class="form-horizontal">


              <div class="form-group">
                <label for="react_lat" class="col-sm-2 control-label">Latitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="react_lat" value="0">
                </div>
              </div>

              <div class="form-group">
                <label for="react_lon" class="col-sm-2 control-label">Longitude</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-sm" id="react_lon" value="-103.75">
                </div>
              </div>

              <button id="place_reactor" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Allows clicking the map to place the reactor">Place Reactor</button>

            </form>
          </div>
        </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="output">
        TODO: write a description here
        <textarea readonly id="osc_out" rows=8 style="width:100%;">
        </textarea>
      </div>
    </div>

  </div>
{% endblock %}
{% block js %}
<script src="/static/js/spherical_power.js"></script>
<script>
// Enable the tool tips for all elements with them
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})

// Some global "switches" which alter certain behavior
// Mode determines what happens when clicking or mousing over the map:
// "normal" - follows the mouse around for spectrum
// "place_reactor" - clicking the map places a reactor at that location
// mass_invert inverts the neutrnio mass hierarchy when true
var mode = "normal";
var mass_invert = false;
var power_type = 3;

</script>

<script>
// this section contains some helpers to convert image coordinates to lat lon and the reverse
function image_coordinates_to_lon_lat(x, y, width, height){
  var lat_deg = (90 - (180/height) * y);
  var lon_deg = (x * (360/width) -180);

  return [lon_deg, lat_deg];
}
function lon_lat_to_image_coordinates(lon, lat, width, height){
  var x = ((90 - lat)/180) * height;
  var y  = ((180 + lon)/360) * width;

  return [x, y];
}
</script>

<script>

/*
   Initalize the array and constants, this is almost
   identical to the fortran except for the syntax.
   */
var spectrum = new Array(1000);
var e1 = 0.8;
var e2 = 1.43;
var e3 = 3.2;
var baserate = 0.00808;

// are all uninitialized variables in fortran 0?
var fluxnorm = 0;

/*
  In javascript current best way of looping through an array
  is to make counter variable (by convention i), the second 
  part of the loop is a test, in this case, that the counter i
  is not larger than the array is long, the third and final part
  of the loop is the action to be performed on the counter
  on each itteration, in this case it is incrimented by on (i++)

  javascript array indexes start at 0 instead of 1. This has the
  effect of having all the indicie tests be minus one from the
  fortran.
  */
for (var i=0; i < spectrum.length; i++){
  spectrum[i] = 0;
  if ((i > 178) && (i < 949)){
    var enu = i/100;
    // In javascript, to do x^y you need to call Math.pow(x, y)
    // Lets store the two parts seperately, then call the e^n function
    var p1 = Math.pow((enu-e2), 2);
    var p2 = -Math.pow((enu+e1)/e3, 2);
    spectrum[i] = p1 * Math.exp(p2);
    if (i > 338){
      // the += operator works as follows: a += b is identical to a = a + b
      fluxnorm += spectrum[i];
    }
  }
}
var scale = baserate/fluxnorm;
for (var i=0; i < spectrum.length; i++){
  spectrum[i] = spectrum[i] * scale;
}

function osc_spec(dist, inverted){
    var dmsq21 = 7.50e-5;
    var ds2t13 = 0.19e-5;
    var s2t13 = 0.0218;
    var ds2t13 = 0.0010;
    var s2t12 = 0.304;
    var ds2t12 = 0.013;

    var c4t13 = (1 - s2t13) * (1 - s2t13);
    var s22t12 = 4 * s2t12 * (1 - s2t12);

    //added nuosc13
    var s22t13 = 4 * s2t13 * (1-s2t13);
    var c22t12 = 1 - s22t12;

    if (inverted){
      var dmsq32 = 2.457e-3;
      var dmsq31 = dmsq32 - dmsq21;
    } else {
      var dmsq31 = 2.457e-3;
      var dmsq32 = dmsq31 - dmsq21;
    }

    var oscarg21 = 1.27 * dmsq21 * dist * 1000;
    var oscarg31 = 1.27 * dmsq31 * dist * 1000;
    var oscarg32 = 1.27 * dmsq32 * dist * 1000;

    var oscspec = new Array(1000);
    
    for (var i=0; i < oscspec.length; i++){
      oscspec[i] = 0;
      if (i >= 179){
        enu = (i + 1) * 0.01;
        
        supr21 = c4t13 * s22t12 * Math.pow(Math.sin(oscarg21/enu), 2);
        supr31 = s22t13 * c22t12 * Math.pow(Math.sin(oscarg31/enu), 2);
        supr32 = s22t13 * s22t12 * Math.pow(Math.sin(oscarg32/enu), 2);

        pee = 1 - supr21 - supr31 - supr32;

        oscspec[i] = pee;
      }
    }
    return oscspec;
}

var neutrnio_survival_probability = (function(){
  var cache = {};

  function f(dist){
    if (dist in cache){
      return cache[dist];
    }
    var oscspec = osc_spec(dist, false);
    cache[dist] = oscspec;
    return oscspec;
  }
  return f
})();

var inverted_neutrino_survival_probability = (function(){
  var cache = {};

  function f(dist){
    if (dist in cache){
      return cache[dist];
    }
    var oscspec = osc_spec(dist, true);
    cache[dist] = oscspec;
    return oscspec;
  }
  return f
})();

/*
   In javascript, the return value is explictly passed back.
   So here we would create the array and just give it back to the caller
   of the function for them to deal with (usually assigned to some var)
   */
function nuosc(dist, pwr, spectrum, inverted){
  var earth_rad_sq = 4.059e7;
  var flux = pwr * earth_rad_sq / (dist * dist);

  var oscspec = new Array(1000);

  if (inverted){
    var pee = neutrnio_survival_probability(dist);
  } else {
    var pee = inverted_neutrino_survival_probability(dist);
  }
  
  for (var i=0; i < oscspec.length; i++){
    oscspec[i] = 0;
    if (i >= 179){
      oscspec[i] = pee[i] * flux * spectrum[i];
    }
  }
  return oscspec;
}

/*
   Everything after here is making the output print on the webpage

   Just ignore unless you want to see how the SVG sausage is made
   */
function tof11(elm){
  return (elm/1000).toFixed(11);
}

</script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>
d3.select(window).on('resize', resize); 

function resize() {
    // update width
    width = parseInt(d3.select('#graph').style('width'), 10);
    width = width - margin.left - margin.right;

    // reset x range
    x.range([0, width]);

    // do the actual resize...
d3.select(svg.node().parentNode)
        .style('width', (width + margin.left + margin.right) + 'px');

svg.selectAll('.x.label')
        .attr('x', width);

    svg.select(".x.axis")
        .call(xAxis);

    svg.selectAll('rect.background')
        .attr('width', width);
    le.attr("transform", "translate(" + (width - 40) + ",0)");

  update_map();
}

// Set the dimensions of the graph
var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = parseInt(d3.select('#graph').style('width'), 10) - margin.left - margin.right,
    height = 270 - margin.top - margin.bottom;

// Set the ranges
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5).tickFormat(function(d) {return (d/100).toFixed(0)});

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5).tickFormat(function(d) {return (d/1000)});

// Define the line
var valueline = d3.svg.line()
    .x(function(d, i) { return x(i); })
    .y(function(d) { return y(d); });
    
// Adds the svg canvas
var svg = d3.select("#graph")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", 
        "translate(" + margin.left + "," + margin.top + ")");

    svg.append("path")
        .attr("class", "c_reac line");

    svg.append("path")
        .attr("class", "reac line");

    svg.append("path")
        .attr("class", "total line");

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .attr("id", "yaxis")
        .call(yAxis);

  // Add the axis labels
    svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", 6)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .text("TNU/10 keV");
    svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", width)
        .attr("y", height - 6)
        .text("MeV");

    le = svg.append("g")
        .attr("transform", "translate(" + (width - 40) + ",0)");


    le.append("text")
        .attr("text-anchor", "end")
        .attr("x", "-2.1em")
        .attr("y", "0.3em")
        .text("Total");
    le.append("text")
        .attr("text-anchor", "end")
        .attr("x", "-2.1em")
        .attr("y", "1.5em")
        .text("Closest Reactor");
    le.append("text")
        .attr("text-anchor", "end")
        .attr("class", "reac")
        .attr("x", "-2.1em")
        .attr("y", "2.6em")
      .style("display", "none")
        .text("User Reactor");

    le.append("line")
      .attr("x1", "-1.9em")
      .attr("x2", "0")
      .attr("y1", "0")
      .attr("y2", "0")
      .attr("stroke-width", 2)
      .style("stroke", "#000");

    le.append("rect")
      .attr("width", "1.9em")
      .attr("height", "1em")
      .attr("x", "-1.9em")
      .attr("y", "0.5em")
      .style("fill", "#999");

    le.append("line")
      .attr("x1", "-1.9em")
      .attr("x2", "0")
      .attr("y1", "2.3em")
      .attr("y2", "2.3em")
      .attr("stroke-width", 2)
      .style("stroke", "#000")
      .style("stroke-dasharray", "2,1")
      .attr("class", "reac")
      .style("display", "none");

var earth_radius = 6371;

document.getElementById("the_map").addEventListener("mousemove", function(e){
  if (mode == "place_reactor"){
    return;
  }
  var checkbox = document.getElementById("is_locked");
  if (!checkbox.checked){
    return;
  }
  document.getElementById("detector_preset").value = "none";
  xy = image_coordinates_to_lon_lat(e.layerX, e.layerY, this.width, this.height);

  document.getElementById("cursor_lat").value = xy[1].toFixed(2);
  document.getElementById("cursor_lon").value = xy[0].toFixed(2);
  update_map();
});

document.getElementById("the_map").addEventListener("click", function(e){
  if (mode == "normal"){
    var checkbox = document.getElementById("is_locked");
    if (checkbox.checked){
      checkbox.checked = false;
    } else {
      checkbox.checked = true;
    }
  }
  if (mode == "place_reactor"){
    xy = image_coordinates_to_lon_lat(e.layerX, e.layerY, this.width, this.height);
    document.getElementById("react_lat").value = xy[1].toFixed(2);
    document.getElementById("react_lon").value = xy[0].toFixed(2);
    mode = "normal";
    $("#place_reactor").addClass("btn-success");
    $("#place_reactor").removeClass("btn-danger");
    document.getElementById("place_reactor").textContent = "Place Reactor";
  update_map();
  }
});

document.getElementById("place_reactor").addEventListener("click", function(e){
  if ($(this).hasClass("btn-success")){
    $(this).removeClass("btn-success");
    $(this).addClass("btn-danger");
    this.textContent = "Cancel Reactor Placement";
    mode = "place_reactor";
  } else {
    mode = "normal";
    $(this).addClass("btn-success");
    $(this).removeClass("btn-danger");
    this.textContent = "Place Reactor";
  }
});

document.getElementById("cursor_lat").addEventListener("input", function(e){
  update_map();
});
document.getElementById("cursor_lon").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_lat").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_lon").addEventListener("input", function(e){
  update_map();
});
document.getElementById("react_power").addEventListener("input", function(e){
  update_map();
});
document.getElementById("user_reactor").addEventListener("change", function(e){
  update_map();
});
document.getElementById("mass_invert").addEventListener("change", function(e){
  mass_invert = this.checked;
  update_map();
});

function distance(p1, p2){
  var dx = p1.x - p2.x;
  var dy = p1.y - p2.y;
  var dz = p1.z - p2.z;

  var dx2 = Math.pow(dx, 2);
  var dy2 = Math.pow(dy, 2);
  var dz2 = Math.pow(dz, 2);
  
  return Math.sqrt(dx2 + dy2 + dz2);
}

function squish_array(two_d_array){
  var output = new Array(two_d_array[0].length);
  for (var i=0; i < output.length; i++){
    output[i] = 0;
  }

  for (var i=0; i < two_d_array.length; i++){
    for (var ii=0; ii < output.length; ii++){
      output[ii] += two_d_array[i][ii];
    }
  }
  return output;
}


function update_map(){
  var map_height = document.getElementById("the_map").height;
  var map_width = document.getElementById("the_map").width;

  var lon_deg = parseFloat(document.getElementById("cursor_lon").value);
  var lat_deg = parseFloat(document.getElementById("cursor_lat").value);
  var detct_image_coords = lon_lat_to_image_coordinates(lon_deg, lat_deg, map_width, map_height);
  document.getElementById("detector_icon").style.top = detct_image_coords[0] + "px";
  document.getElementById("detector_icon").style.left = detct_image_coords[1] + 15 + "px";

  var reac_lon_deg = parseFloat(document.getElementById("react_lon").value);
  var reac_lat_deg = parseFloat(document.getElementById("react_lat").value);
  var react_image_coords = lon_lat_to_image_coordinates(reac_lon_deg, reac_lat_deg, map_width, map_height);
  document.getElementById("reactor_icon").style.top = react_image_coords[0] + "px";
  document.getElementById("reactor_icon").style.left = react_image_coords[1] + 15 + "px";
  var reac_lat = reac_lat_deg * (Math.PI/180);
  var reac_lon = reac_lon_deg * (Math.PI/180);
  var user_input = document.getElementById("user_reactor").checked;
  if (user_input){
  document.getElementById("reactor_icon").style.display = "block";
  } else {
  document.getElementById("reactor_icon").style.display = "none";
  }

  reac_p = {
   x : earth_radius * Math.cos(reac_lat) * Math.cos(reac_lon),
   y : earth_radius * Math.cos(reac_lat) * Math.sin(reac_lon),
   z : earth_radius * Math.sin(reac_lat)
  };
  reac_power = parseFloat(document.getElementById("react_power").value);

  var react_spectrum = [];

  lat = lat_deg  * (Math.PI/180);
  lon = lon_deg * (Math.PI/180);

  p1 = {
   x : earth_radius * Math.cos(lat) * Math.cos(lon),
   y : earth_radius * Math.cos(lat) * Math.sin(lon),
   z : earth_radius * Math.sin(lat)
  };

  // we want to find the smallest element, so start someplace big...
  var min_dist = 1e10;
  var min_spec;
  for (var i=0; i<react_data.length; i++){

    p2 = {
      x : react_data[i][0],
      y : react_data[i][1],
      z : react_data[i][2]
    };

    power = react_data[i][power_type];
    dist = distance(p1, p2);
    var spec = nuosc(dist, power, spectrum, mass_invert);

    react_spectrum.push(spec);
    if (dist < min_dist){
      min_dist = dist;
      min_spec = spec;
    }
  }
  var user_dist = distance(p1, reac_p);
  if (user_input){
    user_react_spectrum = nuosc(user_dist, reac_power, spectrum, mass_invert);
    document.getElementById("user_dist").textContent = user_dist.toFixed(0);
    d3.selectAll(".reac").style("display", "");
    if (user_dist < min_dist){
      min_dist = user_dist;
      min_spec = user_react_spectrum;
    }
  } else {
    user_react_spectrum = nuosc(user_dist, 0, spectrum, mass_invert);
    document.getElementById("user_dist").textContent = "N/A";
    d3.selectAll(".reac").style("display", "none");
  }
  document.getElementById("closest_dist").textContent = min_dist.toFixed(0);


  closest = min_spec;
  user_spec = squish_array([user_react_spectrum]);
  total = squish_array([squish_array(react_spectrum), user_spec]);

  document.getElementById("osc_out").value = total.map(tof11).join('\n');
  var total_tnu = (d3.sum(total)/1000).toFixed(1)
  var close_tnu = (d3.sum(closest)/1000).toFixed(1)
  document.getElementById("tnu_output").textContent = total_tnu;
  document.getElementById("tnu_output_close").textContent = close_tnu;
  document.getElementById("close_percent").textContent = (close_tnu/total_tnu * 100).toFixed(0);
  document.getElementById("tnu_output_geo").textContent = (d3.sum(total.slice(0, 326))/1000).toFixed(1);

    x.domain([0, d3.max(total, function(d, i) { return i; })]);
    y.domain([0, d3.max(total, function(d) { return d; })]);
    svg.select(".reac")
        .attr("d", valueline(user_spec));
    svg.select(".c_reac")
        .attr("d", valueline(closest));
    svg.select(".total")
        .attr("d", valueline(total));
    svg.select("#yaxis")
      .call(yAxis);
    svg.select(".x.axis")
        .call(xAxis);
}
update_map();
</script>
  <script>
document.getElementById("detector_preset").addEventListener("change", function(e){
  var point = this.value.split(',');
  var lat = point[0];
  var lon = point[1];
  document.getElementById("cursor_lat").value = lat;
  document.getElementById("cursor_lon").value = lon;
  document.getElementById("is_locked").checked = false;
  update_map();
});
document.getElementById("load_factor").addEventListener("change", function(e){
  power_type = parseInt(this.value);
  update_map();
});
  </script>
{% endblock %}
