<div class="panel panel-default">
  <div class="panel-heading">Display</div>
  <div class="panel-body">
    <select id="plot_display_selector" class="causes_update form-control">
      <option value="thickness" selected>Crust Thickness (km)</option>
      <option value="heat">Heat Flux (W/m^2)</option>
      <option value="neutrino">Neutrino Flux (TNU)</option>
      <option value="ratio">Mantle Neutrino Ratio (%)</option>
    </select>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Data Layers</div>
  <div class="panel-body">
    <p>
    Plate Boundries
    <button id="plate_boundries_on" type="button" class="btn btn-xs btn-success">ON</button>
    <button id="plate_boundries_off" type="button" class="btn btn-xs btn-danger">OFF</button>
    </p>
    <p>
    Continental Boundries
    <button id="continental_boundries_on" type="button" class="btn btn-xs btn-success">ON</button>
    <button id="continental_boundries_off" type="button" class="btn btn-xs btn-danger">OFF</button>
    </p>
  </div>
</div>
