<div class="panel panel-default">
  <div class="panel-heading">Crust Layers</div>
  <div class="panel-body">
    <div class="checkbox">
      <label>
        <input class="causes_update" name="crust_layers" value="s" type="checkbox" checked> Soft Sediments
      </label><br/>
      <label>
        <input class="causes_update" name="crust_layers" value="h" type="checkbox" checked> Hard Sediments
      </label><br/>
      <label>
        <input class="causes_update" name="crust_layers" value="u" type="checkbox" checked> Upper Crust
      </label><br/>
      <label>
        <input class="causes_update" name="crust_layers" value="m" type="checkbox" checked> Middle Crust
      </label><br/>
      <label>
        <input class="causes_update" name="crust_layers" value="l" type="checkbox" checked> Lower Crust
      </label>
    </div>
  </div>
</div>
