<div class="panel panel-default">
  <div class="panel-heading">Presets</div>
  <div class="panel-body">
    <select id="mantle_preset_selector" class="causes_update form-control">
      <option value="thickness" selected>Someone and Someone</option>
      <option value="heat">A Person et. al.</option>
      <option value="neutrino">Barna and Someone</option>
      <option value="ratio">Custom</option>
    </select>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Uniform Mantle Control</div>
  <div class="panel-body">
    <p>Any changes made here will override the presets and any custom layer settings below.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Change</th>
          <th>Value</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><sup>40</sup>K</td>
          <td><input type="range"></td>
          <td>#</td>
          <td>g/g</td>
        </tr>
        <tr>
          <td><sup>232</sup>Th</td>
          <td><input type="range"></td>
          <td>#</td>
          <td>g/g</td>
        </tr>
        <tr>
          <td><sup>238</sup>U</td>
          <td><input type="range"></td>
          <td>#</td>
          <td>g/g</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
