<div class="panel panel-default">
  <div class="panel-heading">Presets</div>
  <div class="panel-body">
    <select id="mantle_preset_selector" class="causes_update form-control">
      <option value="thickness" selected>Someone and Someone</option>
      <option value="heat">A Person et. al.</option>
      <option value="neutrino">Barna and Someone</option>
      <option value="ratio">Custom</option>
    </select>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Uniform Mantle Control</div>
  <div class="panel-body">
    <p>Any changes made here will override the presets and any custom layer settings below.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Param</th>
          <th>Change</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><sup>40</sup>K</td>
          <td><input min=0 max=400 step=1 id="mantle_uniform_k40_slider" class="range_responsive causes_update" type="range"></td>
          <td><span id="mantle_uniform_k40_value"></span></td>
        </tr>
        <tr>
          <td><sup>232</sup>Th</td>
          <td><input min=0 max=100 step=0.5 id="mantle_uniform_th232_slider" class="range_responsive causes_update" type="range"></td>
          <td><span id="mantle_uniform_th232_value"></span></td>
        </tr>
        <tr>
          <td><sup>238</sup>U</td>
          <td><input min=0 max=50 step=0.5 id="mantle_uniform_u238_slider" class="range_responsive causes_update" type="range"></td>
          <td><span id="mantle_uniform_u238_value"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Layered Controls</div>
  <div class="panel-body">
    <p>There are a lot of layers, provided for fun.</p>
    <div id="mantle_layer_container">
    </div>
  </div>
</div>
